<div class="container container--expand flex-col align-center gap">
    <mat-card class="user">
        <mat-card-content>
            <div class="row flex-wrap center-xs">
                <div class="col-xs-12 col-md-4">
                    <div class="user__avatar"></div>
                </div>
                <div class="col-xs-12 col-md-8">
                    <form [formGroup]="userFm" (ngSubmit)="onSubmit()" ngNativeValidate>
                        <mat-form-field class="user__field">
                            <mat-label>Email</mat-label>
                            <input type="email" matInput formControlName="email">
                        </mat-form-field>
                        <mat-form-field class="user__field">
                            <mat-label>Name</mat-label>
                            <input type="text" matInput formControlName="name">
                        </mat-form-field>
                        <mat-form-field class="user__field">
                            <mat-label>Last name</mat-label>
                            <input type="text" matInput formControlName="lastName">
                        </mat-form-field>
                    </form>
                </div>
                <div class="col-xs-12 text-align-right">
                    <button mat-raised-button color="primary" disabled>Save</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>