<mat-toolbar class="toolbar">
    <a type="button" mat-icon-button color="accent" routerLink="/home" routerLinkActive="active">
        <mat-icon>home</mat-icon>
    </a>
    <a type="button" mat-icon-button color="accent">
        <mat-icon>videogame_asset</mat-icon>
    </a>
    <span class="spacer"></span>
    @if (routeControl) {
    <a type="button" mat-button color="accent" routerLink="/user" routerLinkActive="active">
        Profile
    </a>
    } @else {
    <a type="button" mat-button color="accent" routerLink="/login" routerLinkActive="active">
        Login/Register
    </a>
    }
</mat-toolbar>