<div class="container container--expand container--centered">
  <div class="row center-xs">
    <mat-card class="login">
      <mat-card-content>
        <form [formGroup]="loginFm" (ngSubmit)="onSubmit()" class="login__form" ngNativeValidate>
          <h2 class="login__sign_in">SIGN IN</h2>
          <mat-form-field class="login__field">
            <mat-label>Email</mat-label>
            <input class="input" matInput placeholder="" formControlName="email" required>
            @if (emailFormControl.hasError('required')) {
              <mat-error>Email is <strong>required</strong></mat-error>
            }
          </mat-form-field>
          <mat-form-field class="login__field">
            <mat-label>Password</mat-label>
            <input type="password" class="input" matInput placeholder="" formControlName="password" required>
            @if (passwordFormControl.hasError('required')) {
              <mat-error>Password is <strong>required</strong></mat-error>
            }
          </mat-form-field>
          <button class="login__submit" mat-button mat-raised-button color="primary" [disabled]="loginFm.invalid">Login</button>
          <a type="button" mat-button routerLink="/register">Create your account</a>
          <a type="button" mat-button routerLink="/home">Back to the home page</a>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>