<div class="container container--expand container--centered">
    <div class="row center-xs">
      <mat-card class="register">
        <mat-card-content>
            <form [formGroup]="registerFm" (ngSubmit)="onSubmit()" class="register__form" ngNativeValidate>
              @if (fmNotMatchedError) {
                <mat-error>* Passwords do not match</mat-error>
              }
              <mat-form-field class="register__field">
                <mat-label>Email</mat-label>
                <input class="input" matInput placeholder="" formControlName="email" required>
                @if (emailFormControl.hasError('required')) {
                  <mat-error>Email is <strong>required</strong></mat-error>
                }
              </mat-form-field>
              <mat-form-field class="register__field">
                <mat-label>Password</mat-label>
                <input type="password" class="input" matInput placeholder="" formControlName="password" required>
                @if (passwordFormControl.hasError('required')) {
                  <mat-error>Password is <strong>required</strong></mat-error>
                }
              </mat-form-field>
              <mat-form-field class="register__field">
                <mat-label>Confirm password</mat-label>
                <input type="password" class="input" matInput placeholder="" formControlName="confirmPassword" required>
              </mat-form-field>
              <button class="register__submit" mat-button mat-raised-button color="primary" [disabled]="registerFm.invalid">Join</button>
              <a type="button" mat-button routerLink="/login">Sign In</a>
            </form>
          </mat-card-content>
      </mat-card>
    </div>
</div>