<div class="container container--expand container--centered">
  <div class="row center-xs">
    <mat-card class="register">
      <mat-card-content>
        <form [formGroup]="registerFm" (ngSubmit)="onSubmit()" class="register__form" ngNativeValidate>
          @if (registerFm.hasError('notmatched')) {
            <mat-error class="register__default_errors">* Passwords do not match</mat-error>
          }
          <mat-form-field class="register__field">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" required>
            <val-errors controlName="email">
              <ng-template valError="required"><mat-error>Email is <strong>required</strong></mat-error></ng-template>
              <ng-template valError="email"><mat-error>Invalid email</mat-error></ng-template>
            </val-errors>
          </mat-form-field>
          <mat-form-field class="register__field">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" required>
            <val-errors controlName="password">
              <ng-template valError="required"><mat-error>Password is
                  <strong>required</strong></mat-error></ng-template>
              <ng-template valError="minlength"><mat-error>Password should be 8 characters min</mat-error></ng-template>
            </val-errors>
          </mat-form-field>
          <mat-form-field class="register__field">
            <mat-label>Confirm password</mat-label>
            <input type="password" matInput formControlName="confirmPassword" required>
            <val-errors controlName="confirmPassword">
              <ng-template valError="required"><mat-error>Password is
                  <strong>required</strong></mat-error></ng-template>
              <ng-template valError="minlength"><mat-error>Password should be 8 characters min</mat-error></ng-template>
            </val-errors>
          </mat-form-field>
          <button class="register__submit" mat-button mat-raised-button color="primary">Join</button>
          <div class="register__redirect">
            <span>Already have an account?</span><a type="button" routerLink="/login">Log In</a>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>