@import "include-media";

// VARIABLES
$color-darker: #645c79;
$color-accent: #e7ecee;
$color-border: #212121;
$color-header: $color-darker;
$color-title: white;
$color-background: transparent;
$small-fixed-width: 400px;

.article {
    background-color: $color-background;
    border-radius: 0.4rem;
    border: 1px solid $color-darker;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    padding: 1em;
    margin-bottom: 2em;

    @include media("<=tablet") {
        max-width: $small-fixed-width;
    }

    &__picture {
        flex: 1 0 auto;
        max-height: 350px;
        object-fit: cover;
        object-position: top;
    }

    &__content {
        padding: 2rem;
        height: 100%;
    }

    &__header {
        font-size: 3rem;
        font-weight: 500;
        justify-content: space-between;
        margin-bottom: .5em;

        .article__avatar {
            border-radius: 50%;
        }

        .article__title {
            color: white;
        }

        .article__subtitle {
            color: $color-header;
        }
    }

    &__paragraph {
        display: block;
        color: $color-accent;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    &__actions {
        display: flex;
        gap: 1em;
    }
}
