@import "include-media";

// VARIABLES
$color-darker: #645c79;
$color-accent: #e7ecee;
$color-border: #212121;
$color-warn-lighter: #eacbcb;
$color-header: $color-darker;
$color-title: white;
$color-background: transparent;
$small-fixed-width: 350px;

.event {
    background-color: $color-background;
    border-radius: 0.4rem;
    border: 1px solid;
    border-color: $color-darker;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    margin-bottom: 2em;
    cursor: pointer;

    @include media("<=tablet") {
        max-width: $small-fixed-width;
    }

    &:focus,&:hover {
        border-color: $color-warn-lighter;
    }

    &__picture {
        flex: 1 0 auto;
        max-height: 350px;
        object-fit: cover;
        object-position: top;
    }

    &__content {
        height: 100%;
        padding-top: 16px;
    }

    &__header {
        font-weight: 500;
        justify-content: space-between;
        margin-bottom: 16px;

        .event__avatar {
            border-radius: 50%;
        }

        .event__title {
            color: white;
        }

        .event__subtitle {
            color: $color-header;
        }
    }

    &__paragraph {
        display: block;
        color: $color-accent;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    &__actions {
        display: flex;
        gap: 1em;
    }
}
