<mat-card class="article">
  <mat-card-header class="article__header">
    <img mat-card-sm-image [ngSrc]="avatar" width="120" height="120" class="article__avatar" />
    <mat-card-title class="article__title">{{title}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image class="article__picture" width="1000" height="350" [ngSrc]="imageUrl">
  <mat-card-content class="article__content flex flex-wrap">
    <section class="article__paragraph">
      <p class="flex align-center"><mat-icon class="color-darker">location_on</mat-icon>&nbsp;&nbsp;{{streetAddress}}</p>
      <p class="flex align-center"><mat-icon class="color-darker">calendar_today</mat-icon>&nbsp;&nbsp;{{date | date:'mediumDate'}}</p>
    </section>
    <div class="article__actions">
      <button mat-button mat-raised-button color="accent"><mat-icon>location_on</mat-icon>Location</button>
      <button mat-button mat-raised-button color="primary">Register</button>
    </div>
  </mat-card-content>
</mat-card>