@import "flexboxgrid/css/flexboxgrid.css";
@import "include-media";

.container {
    display: flex;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
}

.container--expand {
    min-height: 100vh;
}

.container--centered {
    align-items: center;
    justify-content: center;
}

.row {
    margin: auto !important;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.gap {
    gap: 2em;
}

.gap-1 {
    gap: 1em;
}

.spacer {
    flex: 1 1 auto;
}

.center-xs,
.center-md,
.center-lg {
    text-align: inherit !important;
}
