@import "flexboxgrid/css/flexboxgrid.css";
@import "include-media";

.container {
    display: flex;
    width: 100%;
    @include media(">=desktop") {
        padding: 2em;
    }
}

.container--expand {
    min-height: 100vh;
}

.container--centered {
    align-items: center;
    justify-content: center;
}

.row {
    margin: auto !important;
}

.flex-col {
    flex-direction: column;
}

.gap {
    gap: 2em;
}

.spacer {
    flex: 1 1 auto;
}

.center-xs,
.center-md,
.center-lg {
    text-align: inherit !important;
}
